.Forecast {
	display: block;
	margin: 0 auto;
	padding: 5px 5px 5px 25px;
	font-size: 14px;
	text-align: left;
	color: #505651;
	text-align: left;
}
.Forecast .foreDay {
	padding: 12px 20px 12px 0;
}
.Forecast ul {
	list-style: none;
}
.Forecast li {
	text-align: center;
	padding: 5px 5px 5px 5px;
}
